@font-face {
    font-family: rainbow;
    src: url(fonts/Rainbow.ttf);
  }

.header{
    display: flex;
    font-family: rainbow;
    padding-left:30px;

    border-top: 2px solid;

}
#image{
    height: 150px;
    width: 250px;
}

#draw{
    width: 100%
}

.side-panel{
    width:150px;
    height: 100vh;
    background-color: grey; 
}

.contains{
    display: flex;
}